.active{
  width: 60vw;
  img{
    width: 2vw;
  }
  h3{
    text-align: center;
    text-transform: capitalize;
    margin-top: 1vw;
    margin-bottom: 3vw;
  }
  #ability{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    .effectAbility{
      width: 50vw;
      border: 3px double #000;
      margin: 1vw;
      padding: 1vw;
      height: 20vh;
      display: flex;
      align-items: center;
    }
    .pikaGif{
      width: 50vw;
      img{
        filter: grayscale(100%);
      }
    }
  }
}
