@font-face {
  font-family: "Retro Gaming";
  src: url('./font/Retro-Gaming.ttf');
}

body{
  background-color: #000;
  background-image: url('./img/background.png');
  background-size: 100vw 100vh;
  cursor: url('./img/cursor.png'), default;
  font-family: "Retro Gaming";
}

.disable{
  display: none !important;
}