#moveDescription{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .effect{
    border: 3px double #000;
    margin: 1vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    height: 15vh;
    width: 55vw;
  }
  .infoMove{
    display: flex;
    padding: 1vw;
    flex-direction: row;
    width: 55vw;
    border: 3px double #000;
    justify-content: space-between;
    span{
      font-weight: bold;
    }
  }
  img{
    height: 30vh;
    width: auto;
    filter: grayscale(100%);
  }
}
