#divPokemonInformation{
  width: 60vw;
  display: flex;
  flex-direction: column;
  border: 3px double #000;
  margin: 1vh;
  height: 96vh;
  h2{
    margin-top: -1vw;
    text-align: center;
    span.pokemonNameInfo{
      text-transform: uppercase;
    }
  }
  img{
    width: 2vw;
  }
  #divInfoGenerale{
    border-top: 3px double #000;
    border-bottom: 3px double #000;
    display: flex;
    flex-direction: column;
    #imgInfo{
      display: flex;
      flex-direction: row;
      #imgPkmn{
        width: 20vh;
        height: 20vh;
        .imgInfoPokemon{
          width: 20vh;
          height: 20vh;
          filter: grayscale(100%);
        }
        border-right: 3px double #000;
      }
      #infoPkmn{
        width: 40vw;
        padding: 1vh;
        p{
          margin: 2px;
          span{
            font-weight: bold;
          }
        }
        li{
          list-style: none;
          &:hover{
            background-color: #99beae;
            cursor: url('./img/cursor.png'), pointer;
          }
        }
      }
    }
    #description{
      border-top: 3px double #000;
      display: flex;
      flex-direction: row;
      #descriptionPkmn{
        width: 65vw;
        padding: 1vh;
        p{
          height: 14vh;
        }
      }
    }
  }
  #statMoves{
    display: flex;
    height: 100%;
    #statsPkmn{
      padding: 1vh;
      border-right: 3px double #000;
      width: 70vw;
    }
    #movePkmn{
      padding: 1vh;
      .moves{
        padding: 1vw;
        height: 33.5vh;
        width: 39vw;
        li{
          list-style: none;
          margin-bottom: 1vw;
          &:hover{
            background-color: #99beae;
            cursor: url('./img/cursor.png'), pointer;
          }
        }
      }
    }
  }
}
h3{
  margin: 0;
}
