.listPokedex{
  display: flex;
  width: 60vw;
  height: 95vh;
  margin: 1vw;
  #container{
    display: flex;
    width: 100%;
    #infoSommairePokemon{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .imgPokemon{
        border: 3px double #2d2d2d;
        height: 22vw;
        width: 22vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .logoPokemon{
          width: 22vw;
          height: 22vw;
          position: absolute;
          top:0vw;
          left: 0vw;
          filter: grayscale(100%);
        }
      }
      .slimInfoPokemon{
        border: 3px double #2d2d2d;
        margin-top: 1vw;
        width: 20vw;
        padding: 0 1vw;
        h2{
          text-align: center;
          font-size: 2.3vw;
        }
        .info{
          padding: 1vw;
          text-transform: capitalize;
        }
      }
    }
    #listPokemonPokedex{
      border: 3px double #2d2d2d;
      margin-left: 1vw;
      width: 34vw;
      h2{
        text-align: center;
        font-size: 2.3vw;
      }
      ul{
        padding: 1vw;
        border-top: 3px double #2d2d2d;
        height: 77vh;

        li{
          list-style: none;
          height: 50px;
          border-bottom: 1px solid #769387;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          &:hover{
            background-color: #99beae;
            cursor: url('./img/cursor.png'), pointer;
          }
        }
      }
    }
  }
}
a{
  text-decoration: none;
  color: #000;
}
