.fondBleu {
  display: flex;
  justify-content: center;
  .divPokedex {
    display: flex;
    justify-content: center;
    background-color: #cdffea;
    width: auto;
    border-radius: 10vw;
    .pokedex {
      height: 99vh;
    }
    #content {
      position: relative;
      width: 8vw;
      transition: 2s;
      &.active{
        width: 60vw;
      }
       #title{
         position: fixed;
         width: 30vw;
         top: 30vh;
         left: 34.5vw;
         transition: 4s;
         opacity: 0;
         filter: grayscale(100%);
       }
      #banniereTitle{
        width: 30vw;
        position: fixed;
        z-index: 0;
        top: 50vh;
        left: 34vw;
        opacity: 0;
        transition: opacity 4s;
        filter: grayscale(100%);
      }
      #tapToOpen {
        font-family: "Helvetica Neue";
        text-align: center;
        font-size: 3vw;
        color: #fff;
        text-shadow: 0 0 4px #62addd, 0 0 4px #62addd, 0 0 4px #62addd, 0 0 4px #62addd, 0 0 4px #d60, 0 0 4px #d60, 0 0 4px #d60,
        0 0 4px #62addd, 0 0 4px #62addd, 0 0 4px #62addd, 0 0 4px #62addd, 0 0 4px #d60, 0 0 4px #d60, 0 0 4px #d60, 0 0 4px #d60,
        0 0 4px #62addd, 0 0 4px #62addd, 0 0 4px #62addd, 0 0 4px #62addd, 0 0 4px #d60;
        position: absolute;
        width: 20vw;
        top: 46%;
        left: -74%;
        transition: 0.5s;

        &:hover {
          text-shadow: 0 0 4px #5870dd, 0 0 4px #5870dd, 0 0 4px #5870dd, 0 0 4px #5870dd, 0 0 4px #d60, 0 0 4px #d60, 0 0 4px #d60,
          0 0 4px #5870dd, 0 0 4px #5870dd, 0 0 4px #5870dd, 0 0 4px #5870dd, 0 0 4px #d60, 0 0 4px #d60, 0 0 4px #d60, 0 0 4px #d60,
          0 0 4px #5870dd, 0 0 4px #5870dd, 0 0 4px #5870dd, 0 0 4px #5870dd, 0 0 4px #d60;
          cursor: url('./img/cursor.png'), pointer;
        }
      }
      #pressEnterTo{
        position: fixed;
        top: 42vh;
        left: 39vw;
        opacity: 0;
        transition: 4s;
        color: #2f2f2f;
      }
    }
  }
}
